---

---

<section class="problems" id="problems">
    <div class="container">
        <h2 class="h2 problemsTitle">
            Хаус в учете или <br />
            <span class="yellow"> прибыль в кармане? </span>
        </h2>

        <div class="problemsContent">
            <div class="item">
                <div class="iconBox">
                    <img
                        class="icon"
                        src="/icons/education/problems/1.png"
                        alt=""
                    />
                </div>
                <h3 class="itemTitle">Не понимаю бухгалтерию</h3>
                <p class="itemText">
                    Нет системы, которая гарантирует безопасность
                </p>
            </div>
            <div class="item">
                <div class="iconBox">
                    <img
                        class="icon"
                        src="/icons/education/problems/2.png"
                        alt=""
                    />
                </div>
                <h3 class="itemTitle">Где деньги?</h3>
                <p class="itemText">
                    Нет системы, которая гарантирует безопасность
                </p>
            </div>
            <div class="item">
                <div class="iconBox">
                    <img
                        class="icon"
                        src="/icons/education/problems/3.png"
                        alt=""
                    />
                </div>
                <h3 class="itemTitle">Кассовые разрывы</h3>
                <p class="itemText">
                    Нет системы, которая гарантирует безопасность
                </p>
            </div>
            <div class="item">
                <div class="iconBox">
                    <img
                        class="icon"
                        src="/icons/education/problems/4.png"
                        alt=""
                    />
                </div>
                <h3 class="itemTitle">Страх перед налоговой</h3>
                <p class="itemText">
                    Нет системы, которая гарантирует безопасность
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    .problems {
        padding: 160px 0;
    }
    .problemsTitle {
        text-align: center;
    }

    .itemText {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        color: var(--seryy);
        max-width: 322px;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        padding: 2%;
        border-radius: 20px;
    }

    .itemTitle {
        font-weight: 400;
        font-size: 25px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
    }

    .problemsContent {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: clamp(10px, 4vw, 20px);

        margin-top: 80px;
    }
</style>
