---
import Hero from "../components/education/hero.astro";
import Problems from "../components/education/problems.astro";
import Steps from "../components/education/steps.astro";
import Training from "../components/education/training.astro";
import TrainingMain from "../components/TrainingMain.astro";
import Layout from "../layouts/Layout.astro";






const images: string[] = [
  '/img/financial-audit/slider/1.jpg',
  '/img/financial-audit/slider/2.jpg',
];
---

<Layout>
	<main style="background-color: var(--chernyy);">
    <TrainingMain/>
  </main>
</Layout>



<style>
  :root {
    --color: var(--belyy);
  }
</style>
