---
import Faq from "../components/financial-audit/faq.astro";
import Hero from "../components/financial-audit/hero.astro";
import Why from "../components/financial-audit/why.astro";
import Receive from "../components/financial-audit/receive.astro";
import TrainingAudit from "../components/financial-audit/TrainingAudit.astro";
import Layout from "../layouts/Layout.astro";
import Slider from "../components/ui/Slider.astro";






const images: string[] = [
  '/img/financial-audit/slider/1.jpg',
  '/img/financial-audit/slider/2.jpg',
];
---

<Layout>
	<main style="background-color: var(--svetlyy);">
    <Hero/>
  <Why/>
  <Faq/>
  <Receive/>
  <Slider images={images}/>
  <TrainingAudit/>
  </main>
</Layout>



<style>
  :root {
    --color: var(--temnyy);
  }
</style>
