---

---

<section class="evg" id="evg">
    <div class="container">
        <h2 class="h2">О евгении</h2>
        <div class="content">
            <div class="imgBox">
                <img class="imgBos" src="/img/evg.jpg" alt="" />
            </div>
            <div class="textBox">
                <h3 class="h2">
                    Евгения <br />
                    <span class="yellow"> Трибунская</span>
                </h3>

                <p class="t20">
                    Сертифицированный специалист по финансовым играм, помогающим
                    менять отношение к финансам и развивать финансовые
                    компетенции. Обучается на курсах повышения квалификации, в
                    частности, прошла обучение на программе «МегаАвтор» у
                    Григория Аветова
                </p>
                <p class="t20">
                    Выступая организатором и спикером ежегодного форума
                    «PRO.Деньги». Лауреат рейтинга лучших профессионалов региона
                    «Топ-100 Рандеву». Автор популярного образовательного канала
                    в Telegram «Ты — ресурс. Все границы в твоём воображении...»
                </p>
                <p class="t20">
                    Участница социально значимых проектов, включая акцию «Новые
                    читки», направившую деньги ульяновских предпринимателей в
                    поддержку Всероссийского фонда помощи детям-инвалидам
                </p>

                <a href="http://" class="link evg_l" target="_blank" rel="noopener noreferrer">Читать в СМИ</a>
            </div>
        </div>
    </div>
</section>

<style>
    .evg{
        padding:clamp(30px, 8vw, 130px) 0 ;
    }
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .imgBox {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .imgBos {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .textBox {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .evg_l{
        margin-top: 85px;
        width: fit-content;
    }

    @media (max-width: 1024px) {
        .content{
        grid-template-columns: repeat(1, 1fr);

        }
    }

</style>
