---
export interface Props {
    srcIcon: string;
    text: string;
    className?: string;
}

const { srcIcon, text, className = "" } = Astro.props;
---

<div class={`card ${className}`}>
    <div class="imgBox">
        <img class="cardImg" src={srcIcon} alt="" />
    </div>
    <p class="t20">
        {text}
    </p>
</div>

<style>
    .card {
        background: rgba(255, 255, 255, 0.02);
        border-radius: 12px;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: clamp(16px, 3vw, 45px);
        padding: clamp(20px, 4vw, 50px);

        text-align: center;
    }

    .imgBox {
        width: clamp(60px, 10vw, 120px);
        height: clamp(60px, 10vw, 120px);
    }

    .cardImg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
</style>
